#include<windows.h>

WINCOLOR ICON WINCOLOR.ICO

ABOUTBOX DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 22, 17, 174, 86
STYLE WS_TILED | WS_CAPTION | WS_SYSMENU | 0x80L
CAPTION "About WinSaver"
BEGIN
  CONTROL "WinColor 1.0" -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 0, 5, 174, 8
  ICON "WINCOLOR" -1, 77, 20, 0, 0
  CONTROL "Copyright (c) 1991 Richard Hale Shaw" -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 0, 44, 174, 8
  CONTROL "First published in PC Magazine, August, 1991" -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1L, 0, 54, 173, 8
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | 0x1L, 70, 66, 32, 14
END

WINCOLORHELP DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 0, 30, 284, 167
STYLE WS_POPUP | WS_CAPTION | 0x80L
CAPTION "WinColor Help"
BEGIN
  CONTROL "To Use WinColor:" 101, "STATIC", WS_CHILD | WS_VISIBLE, 3, 3, 64, 8
  CONTROL "Left-Click a rectangle to select that rectangle's color." 102, "STATIC", WS_CHILD | WS_VISIBLE, 18, 41, 259, 9
  CONTROL "Right-Click a rectangle to paint a rectangle the currently selected color." 103, "STATIC", WS_CHILD | WS_VISIBLE, 18, 50, 263, 9
  CONTROL "SET changes Window's components to the WinColor component colors." 104, "STATIC", WS_CHILD | WS_VISIBLE, 18, 79, 265, 17
  CONTROL "RESTORE changes Window's colors to those used prior to invoking WinColor or the last SAVE." 105, "STATIC", WS_CHILD | WS_VISIBLE, 18, 87, 264, 17
  CONTROL "SAVE stores the current color settings to WINCOLOR.INI (and optionally, the Color section of WIN.INI, if 'Update WIN.INI' is checked in the System Icon menu) for future use." 106, "STATIC", WS_CHILD | WS_VISIBLE, 17, 103, 266, 27
  CONTROL "Buttons:" 107, "STATIC", WS_CHILD | WS_VISIBLE, 10, 71, 63, 9
  CONTROL "Mouse Actions:" 108, "STATIC", WS_CHILD | WS_VISIBLE, 9, 33, 53, 9
  CONTROL "HELP invokes this Dialog." 110, "STATIC", WS_CHILD | WS_VISIBLE, 17, 127, 125, 11
  CONTROL "Colored Labels denote Windows components that display in solid colors only." 111, "STATIC", WS_CHILD | WS_VISIBLE, 17, 147, 257, 9
  CONTROL "Work Area displays modifiable color. Use scroll-bars to change it." 112, "STATIC", WS_CHILD | WS_VISIBLE, 8, 14, 274, 9
  CONTROL "Selected Color displays currently selected color in both pure and solid-only forms." 113, "STATIC", WS_CHILD | WS_VISIBLE, 7, 22, 277, 12
  CONTROL "Left-Double-Click a rectangle to place its color in the Work Area." 114, "STATIC", WS_CHILD | WS_VISIBLE, 18, 59, 265, 10
  CONTROL "Note:" 115, "STATIC", WS_CHILD | WS_VISIBLE, 8, 138, 19, 8
  CONTROL "Custom Color Boxes can be used to store your favorite colors." 116, "STATIC", WS_CHILD | WS_VISIBLE, 17, 155, 259, 9
  CONTROL "OK" 1, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 235, 7, 41, 12
END

WINCOLOR DIALOG DISCARDABLE LOADONCALL PURE MOVEABLE 7, 33, 266, 146
CLASS "WinColor"
//STYLE WS_CAPTION | WS_SYSMENU | WS_GROUP | WS_TABSTOP | 0x40L
STYLE WS_CAPTION | WS_SYSMENU | WS_GROUP | WS_TABSTOP | 0x40L
CAPTION "WinColor"
FONT 10, "Helv"
BEGIN
  CONTROL "Set" 253, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 93, 3, 39, 14
  CONTROL "Restore" 254, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 3, 39, 14
  CONTROL "Save" 255, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 3, 39, 14
  CONTROL "Help" 256, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 3, 39, 14
  CONTROL "Button" 113, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 207, 104, 57, 41
  CONTROL "Misc." 118, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 97, 104, 109, 41
  CONTROL "Grayed Text" 241, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 135, 117, 45, 9
  CONTROL "Face" 249, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 220, 125, 18, 8
  CONTROL "Shadow" 251, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 209, 135, 29, 8
  CONTROL "Text" 247, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 222, 115, 16, 8
  CONTROL "Window" 132, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 2, 63, 91, 82
  CONTROL "Text" 215, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 50, 68, 17, 8
  CONTROL "" 214, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 69, 20, 7
  CONTROL "Frame" 217, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 42, 77, 24, 8
  CONTROL "" 216, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 78, 20, 7
  CONTROL "Caption" 219, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 39, 86, 27, 8
  CONTROL "" 218, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 87, 20, 7
  CONTROL "Background" 221, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 24, 95, 42, 8
  CONTROL "" 220, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 96, 20, 7
  CONTROL "Active Border" 223, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 17, 104, 49, 9
  CONTROL "" 222, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 105, 20, 7
  CONTROL "Active Title Bar" 225, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 10, 123, 56, 10
  CONTROL "" 224, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 114, 20, 7
  CONTROL "Inactive Border" 229, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 12, 113, 54, 9
  CONTROL "" 228, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 124, 20, 7
  CONTROL "Inactive Title Bar" 227, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 4, 132, 62, 8
  CONTROL "" 226, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 70, 134, 20, 7
  CONTROL "Menu" 140, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 97, 63, 86, 41
  CONTROL "Color" 233, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 133, 77, 25, 8
  CONTROL "Text" 231, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 140, 68, 18, 8
  CONTROL "Highlight" 235, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 126, 86, 32, 8
  CONTROL "Highlighted Text" 236, "STATIC", WS_CHILD | WS_VISIBLE, 100, 95, 58, 8
  CONTROL "Application Workspace" 245, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 98, 133, 83, 9
  CONTROL "Scroll-Bars" 239, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 139, 109, 41, 9
  CONTROL "Desktop Background" 244, "STATIC", WS_CHILD | WS_VISIBLE | 0x2L, 107, 125, 74, 8
  CONTROL "Custom Colors" 148, "BUTTON", WS_CHILD | WS_VISIBLE | 0x7L, 185, 18, 79, 86
  CONTROL "" 209, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 4, 24, 42, 38
  CONTROL "" 230, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 161, 69, 20, 7
  CONTROL "" 232, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 161, 78, 20, 7
  CONTROL "" 234, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 161, 87, 20, 7
  CONTROL "" 237, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 161, 96, 20, 7
  CONTROL "" 238, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 183, 110, 20, 7
  CONTROL "" 240, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 183, 118, 20, 7
  CONTROL "" 243, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 183, 126, 20, 7
  CONTROL "" 242, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 183, 134, 20, 7
  CONTROL "" 246, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 241, 116, 20, 7
  CONTROL "" 248, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 241, 126, 20, 7
  CONTROL "" 250, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 241, 136, 20, 7
  CONTROL "" 202, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 30, 9, 9
  CONTROL "" 203, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 30, 9, 9
  CONTROL "" 204, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 30, 9, 9
  CONTROL "" 205, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 30, 9, 9
  CONTROL "" 206, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 30, 9, 9
  CONTROL "" 207, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 30, 9, 9
  CONTROL "" 196, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 42, 9, 9
  CONTROL "" 197, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 42, 9, 9
  CONTROL "" 198, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 42, 9, 9
  CONTROL "" 199, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 42, 9, 9
  CONTROL "" 200, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 42, 9, 9
  CONTROL "" 201, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 42, 9, 9
  CONTROL "" 190, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 54, 9, 9
  CONTROL "" 191, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 54, 9, 9
  CONTROL "" 192, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 54, 9, 9
  CONTROL "" 193, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 54, 9, 9
  CONTROL "" 194, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 54, 9, 9
  CONTROL "" 195, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 54, 9, 9
  CONTROL "" 184, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 66, 9, 9
  CONTROL "" 185, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 66, 9, 9
  CONTROL "" 186, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 66, 9, 9
  CONTROL "" 187, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 66, 9, 9
  CONTROL "" 188, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 66, 9, 9
  CONTROL "" 189, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 66, 9, 9
  CONTROL "" 181, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 78, 9, 9
  CONTROL "" 156, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 78, 9, 9
  CONTROL "" 125, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 78, 9, 9
  CONTROL "" 152, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 78, 9, 9
  CONTROL "" 155, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 78, 9, 9
  CONTROL "" 151, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 78, 9, 9
  CONTROL "" 182, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 188, 90, 9, 9
  CONTROL "" 153, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 201, 90, 9, 9
  CONTROL "" 149, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 214, 90, 9, 9
  CONTROL "" 154, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 227, 90, 9, 9
  CONTROL "" 157, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 240, 90, 9, 9
  CONTROL "" 150, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 253, 90, 9, 9
  CONTROL "" 210, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x7L, 56, 3, 9, 9
  CONTROL "Work Area" 208, "STATIC", WS_CHILD | WS_VISIBLE, 6, 16, 38, 8
  CONTROL "Selected Color" 252, "STATIC", WS_CHILD | WS_VISIBLE, 1, 2, 53, 8
  CONTROL "" 211, "SCROLLBAR", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 66, 20, 117, 8
  CONTROL "" 212, "SCROLLBAR", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 66, 37, 117, 9
  CONTROL "" 213, "SCROLLBAR", WS_CHILD | WS_VISIBLE | WS_TABSTOP | 0x2L, 66, 56, 117, 8
  CONTROL "Red" 119, "STATIC", WS_CHILD | WS_VISIBLE, 74, 12, 18, 7
  CONTROL "Green" 120, "STATIC", WS_CHILD | WS_VISIBLE, 74, 29, 33, 8
  CONTROL "Blue" 121, "STATIC", WS_CHILD | WS_VISIBLE, 74, 47, 20, 8
  CONTROL "255" 122, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 49, 20, 15, 8
  CONTROL "255" 123, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 50, 37, 14, 8
  CONTROL "255" 124, "STATIC", WS_CHILD | WS_VISIBLE | 0x1L, 50, 56, 14, 8
END


